<% books.forEach(book => { %>
<form id=editForm action="/books/<%= book.id %>?_method=PUT" method="POST">
  <fieldset>
    <input name="image_url" value="<%= book.image_url %>"></input>
    <input name="title" value="<%= book.title %>"></input>
    <input name="author" value="<%= book.author %>"></input>
    <input name="isbn" value="<%= book.isbn %>"></input>
    <input name="description" value="<%= book.description %>"></input>
    <input type="submit" value="Update Book">
  </fieldset>
</form>
<%}) %>