<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="./styles/reset.css" rel="stylesheet"/>
    <link href="./styles/base.css" rel="stylesheet"/>
    <link href="./styles/layout.css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>The Book App</h1>
      <nav>
        <ul>
          <li><a href="/test">test route</a></li>
          <li><a href="/">Home</a></li>
          <li><a href='/searches/new'>Search for books</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h4>My Book Collection</h4><p><%=numOfBooks %></p>
      <section id="bookbox">
        <!-- make a form? for submit btn -->
        <% bookList.forEach(book => { %>
          <ul class='books'>
           <img class="coverimg" src="<%= book.image_url %>">
            <li class = "title">Book title: <%= book.title %></li>
            <li class="author">Author: <%= book.author %></li>
            <div>
              <button class="detail_button"><a href="/books/<%= book.id %>">View Details</button>
            </div>
          </article>
        <% }) %>
        </section>
      
      
    </main>
  </body>
</html>